.workContainer {
  overflow: hidden;
  height: 100dvh;
  position: relative;
  /* .lamp-container {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    overflow: hidden;
    min-width: 20rem; */
  .lamp {
    position: absolute;
    left: 3px;
    // top: 443px;
    bottom: 2%;
    width: 10rem;
    opacity: 0.7;
    mix-blend-mode: color-dodge;
    z-index: 9;
    animation: glow 7s ease-in-out infinite;
  }
  h2 {
    z-index: 5;
    position: absolute;
    top: 15%;
    left: 70%;
    color: white;
    font-family: serif;
  }
  /* } */

  @keyframes glow {
    0% {
      filter: brightness(80%);
    }
    50% {
      filter: brightness(100%);
    }
    52% {
      filter: brightness(80%);
    }
    55% {
      filter: brightness(100%);
    }
    57% {
      filter: brightness(80%);
    }
    59% {
      filter: brightness(100%);
    }
    100% {
      filter: brightness(80%);
    }
  }
}

@media (max-width: 720px) {
  .workContainer {
    height: 100dvb;
    h2 {
      z-index: 5;
      position: absolute;
      top: 15%;
      left: 30%;
      color: white;
    }
  }
}
